*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Green{
    background-color: #74c365;
    width: 300px;
    height: 300px;
}